
//== XF Footer style, used on page template

footer.experiencefragment {
    background-color: #171717;
    padding: 85px 0 10px 0;
    color: #fff;
    font-size: 14px;
    clear: both;

    .cmp-separator__horizontal-rule {
        border: 1px solid #222222;
    }

    .cmp-text--copyright
    {
        text-align: left;
        padding-top: 15px;
        font: normal normal normal 14px/22px Montserrat;
        color: #FFFFFF80;
    }

    h5
    {
        margin-top: 20px;
        padding-bottom: 10px;
        letter-spacing: 2.4px;
        font-size: 12px;
        font-weight: 800;
    }
}